.app {
    text-align: center;
  }
  

  img {
    height: 100px;
    width: 100px;
    border: none;
  }
  
  .container {
    width: 90%;
  }
  .app__form {
    padding: 20px;
    position: fixed;
    bottom: 0;
    margin: 20px;
    z-index: 1;
    width: 100%;
    background-color: #e9e9eb;
  }

  .app__formControl {
    display: flex !important;
    flex-direction: row !important;
  }

  .app__input {
    flex: .9;
  }


